.icon-list li {
    position: relative; /* Ensure the pseudo-element can be positioned correctly */
    padding: 10px; /* Adjust padding as needed */
    transition: color 0.3s ease; /* Smooth color transition */
}

/* Glowing border effect */
.icon-list li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent; /* Initial border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 5px rgb(160, 32, 240, 0.7), /* Inner glow */
                0 0 15px rgba(160, 6, 227, 0.5); /* Outer glow */
    transition: all 0.3s ease;
    z-index: -1; /* Place behind the list item */
}

.icon-list li:hover::before {
    border: 2px solid rgba(255, 0, 225, 0.7); /* Change to glowing border on hover */
    box-shadow: 0 0 10px rgb(200, 11, 200), /* Stronger inner glow */
                0 0 20px rgba(245, 7, 193, 0.7); /* Stronger outer glow */
}

@keyframes moveList {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px); /* Move up */
    }
}

.icon-list {
    animation: moveList 2s ease-in-out infinite; /* Adjust duration and easing as needed */
}
